@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bgb900: #151515;
    --bgb100: #222222;
    --bgb50: #393939;
    --bt900: #ffffff;
    --bt700: #e9e9e9;
}

body.light {
    --bgb900: #f2f2fc;
    --bgb100: #fdf9ff;
    --bgb50: #e8dfec;
    --bt900: #302e4d;
    --bt700: #504e70;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'poppins';
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section {
    background: var(--bgb900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}


/* !animation */

.section.back-section {
    z-index: 1;
}

#home.section.active {
    z-index: 2;
    opacity: 1;
    animation: slideUp 1s ease;
}

#about.section.active{
    z-index: 2;
    opacity: 1;
    animation: slideSection 1s ease;
}

#service.section.active{
    z-index: 2;
    opacity: 1;
    animation: slideDown 1s ease;
}

#projects.section.active{
    z-index: 2;
    opacity: 1;
    animation: slideSectionAlt 1s ease;
}

#contact.section.active{
    z-index: 2;
    opacity: 1;
    animation: slideUp 1s ease;
}

@keyframes slideSectionAlt {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideDown {
    0%{
        transform: translateY(-100%)
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes slideUp {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes slideSection {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* !animation end */


.hidden {
    display: none !important;
}


.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--bt900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background: var(--sc);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background: var(--sc);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--sc);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

/* !aside */

.aside {
    width: 270px;
    background: var(--bgb100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bgb50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 0.3s ease;
}

.aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a {
    color: var(--bt900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.aside .logo a span {
    font-family: clicker script;
    font-size: 40px;
}

.aside .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--sc);
    border-left: 5px solid var(--sc);
    bottom: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--sc);
    border-right: 5px solid var(--sc);
    top: 0;
    right: 0;
}

.aside .nav-toggle {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bgb50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bgb100);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.aside .nav-toggle span {
    height: 2px;
    width: 18px;
    background: var(--sc);
    display: inline-block;
    position: relative;
}

.aside .nav-toggle.open span {
    background-color: transparent;
}

.aside .nav-toggle span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--sc);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggle.open span::before {
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggle span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--sc);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav-toggle.open span::after {
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav {
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bgb50);
    color: var(--bt900);
    padding: 5px 15px;
}

.aside .nav li a.active {
    color: var(--sc);
}

.aside .nav li a i {
    margin-right: 15px;
}

/* !home */

.home {
    min-height: 100vh;
    display: flex;
    color: var(--bt900);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello {
    font-size: 28px;
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;

}

h3.hello span {
    font-family: clicker script;
    font-size: 30px;
    font-weight: 700;
    color: var(--sc);
}

h3.profession {
    font-size: 30px;
    margin: 15px 0;
}

.typing {
    color: var(--sc);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--bt700);
}

.home-img::after {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--sc);
    border-right: 10px solid var(--sc);
    right: 47px;
    bottom: -35px;
}

.home-img::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--sc);
    border-left: 10px solid var(--sc);
    left: 44px;
    top: -44px;
}

.home .home-img img {
    margin: auto;
    border-radius: 5px;
    height: 400px;
}

/* !about */

.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--bt900);
}

.about .about-content .about-text h3 span {
    color: var(--sc);
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 25px;
    color: var(--bt700);
    padding-bottom: 20px;
}

/* !services */

.service .container {
    padding-bottom: 40px;
}

.service .service-item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.service .service-item .service-item-inner {
    background-color: var(--bgb100);
    border: 1px solid var(--bgb50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.35s ease;
}

.service .service-item .service-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.service .service-item .service-item-inner .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner .icon .fa {
    font-size: 40px;
    line-height: 60px;
    color: var(--sc);
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover .icon {
    background-color: var(--sc);
}

.service .service-item .service-item-inner:hover .icon .fa {
    font-size: 25px;
    color: #ffffff;
}

.service .service-item .service-item-inner h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--bt900);
    font-weight: 700;
    text-transform: capitalize;
}

.service .service-item .service-item-inner p {
    font-size: 16px;
    color: var(--bt700);
    line-height: 25px;
}

/* !Projects */

.project .project-heading {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 15px;
}

.project .container {
    padding-bottom: 40px;
}

.project .project-heading h2 {
    color: var(--bt900);
    font-weight: 500;
}



.control {
    max-width: 500px;
    max-height: 500px;
}

#high {
    max-width: 500px;
    max-height: 283px;
}

.project .project-item {
    flex: 0 50%;
    max-width: 50%;
    margin-bottom: 75px;
}


/*! hover effect */

#hover1 a img.top {
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#hover1 a img.top:hover {
    opacity: 0;
}

#hover1 a img.bottom:hover {
    display: contents;
    opacity: 100;
}


#hover2 a img.top {
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#hover2 a img.top:hover {
    opacity: 0;
}

#hover2 a img.bottom:hover {
    display: contents;
    opacity: 100;
}

#hover3 a img.top {
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#hover3 a img.top:hover {
    opacity: 0;
}

#hover3 a img.bottom:hover {
    display: contents;
    opacity: 100;
}

#hover4 a img.top {
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#hover4 a img.top:hover {
    opacity: 0;
}

#hover4 a img.bottom:hover {
    display: contents;
    opacity: 100;
}

#hover5 a img.top {
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#hover5 a img.top:hover {
    opacity: 0;
}

#hover5 a img.bottom:hover {
    display: contents;
    opacity: 100;
}

#hover6 a img.top {
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#hover6 a img.top:hover {
    opacity: 0;
}

#hover6 a img.bottom:hover {
    display: contents;
    opacity: 100;
}

/* !Contact */

.contact-title {
    color: var(--sc);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title {
    color: var(--bt900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact .contact-info-item {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon {
    display: inline-block;
}

.contact .contact-info-item .icon .fa {
    font-size: 25px;
    color: var(--sc);
}

.contact .contact-info-item h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--bt900);
    text-transform: capitalize;
    margin: 15px 0 15px;
}

.contact .contact-info-item p {
    font-size: 16px;
    line-height: 25px;
    color: var(--bt700);
    font-weight: 400;
}

.contact .contact-info-item p a {
    color: var(--bt700);
}

.contact .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .form-item {
    margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bgb100);
    border: 1px solid var(--bgb50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--bt700);
    transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
    height: 140px;
}

.contact .contact-form .btn {
    height: 50px;
    padding: 0 50px;
}


/* !media query */


@media (max-width:1340px) {
    .project .project-item {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 75px;
    }

    .home-img::after {
        display: none;
    }

    .home-img::before {
        display: none;
    }
}

@media (max-width:1023px) {
    .aside {
        left: -270px;
    }

    .aside.open {
        left: 0;
    }

    .aside .nav-toggle.open {
        left: 300px;
    }

    .section .container{
        padding-top: 70px;
    }

    .section.open {
        left: 270px;
    }

    .section {
        left: 0;
    }

    .aside .nav-toggle {
        display: flex;
        left: 30px;
    }
}

@media (max-width:991px) {

    .contact .contact-info-item,
    .service .service-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }
}

@media (max-width:767px) {

    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .service .service-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width:425px){
    .project .project-item img{
        resize: horizontal;
        width: 375px;
    }
    .logo{
        margin-top: -35px;
    }
    .aside.open{
        width: 425px;
    }
    .style-switcher{
        margin-top: 25px;
    }
    .nav-toggle.open{
        margin-left: 60px;
    }
    .home{
        padding-top: 50px;
    }
}

@media (max-width:375px){
    .project .project-item img{
        resize: horizontal;
        width: 350px;
    }
    .aside.open{
        width: 375px;
    }
    .nav-toggle.open{
        margin-left: 10px;
    }
}


@media (max-width:320px){
    .project .project-item img{
        resize: horizontal;
        width: 300px;
    }
    .aside.open{
        width: 320px;
    }
    .nav-toggle{
        margin-left: -10px;
    }
    .nav-toggle.open{
        margin-left: -45px;
    }
    .home{
        padding-top: 100px;
    }
    .btn{
        margin-left: 22px;
    }
    .hire-me{
        margin-left: 27px;
    }
    .aside .logo a::before {
        display: none;
    }
    
    .aside .logo a::after {
        display: none;
    }
}